
@font-face {
  font-family: 'The Great Outdoors';
  src: url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.eot');
  src: url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.woff2') format('woff2'),
  url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.woff') format('woff'),
  url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.ttf') format('truetype'),
  url('../fonts/TheGreatOutdoors/TheGreatOutdoors-Regular.svg#TheGreatOutdoors-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
