// Whatever

.ui.fixed.menu + .ui.container {
  margin-top:6.75em;
  margin-bottom:2.75em;
}

.ui.segment {
  &.video-segment {
    padding:0!important;
    overflow:hidden;
    position:relative;
    &::before {
      content:"";
      display:block;
      padding-top:56.25%;
    }
    iframe {
      top:0;
      left:0;
      right:0;
      bottom:0;
      position:absolute;
      display: block;
      max-width:100%;
    }
  }
}

.ui.main.container {
  p {
    font-size:1.2em;
  }
}